@@ -1,64 +0,0 @@
# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

#Custom for cocos2dx
cocos2d/
proj.android/
proj.android
proj.ios_mac/
proj.blackberry/
proj.mac/
proj.ios/
proj.andriod/
proj.linux/
proj.win32/
proj.tizen/
proj.wp8-xaml/
proj.winrt/
proj.wp8/
proj.ios_mac/
cocosstudio/
proj.marmalade/
.cocos-project.json
CMakeLists.txt
.svn/
.svn/all-wcprops
Resources.zip
